.col-md-2 {
  background: #e6e6e6;
  padding: 0;
  margin: 0;
}
.grid-box {
  height: 8em;
  border: solid 4px #999;
}

.grid-box {
  text-align: center;
  margin: 0;
  padding-top: 3px;
}
.grid-box span {
  margin: auto;
  font-size: 3em;
  font-weight: bold;
}
.shiny {
  background: #CF6E28;
  color: white;
}
.well {
  text-align: center;
}
